.header{
      margin-bottom: -20px;
}

label{
      width: 270px;
      display: inline-block;
    }
input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
p{
      text-align: right;
      text-align: justify;/*width: 180px;
        height: 35px;
        margin: 13px 0 0 -50px;
        padding-left: 1px;
        border-radius: 0 5px 5px 0;
        border: solid 1px #cbc9c9;
        box-shadow: 1px 2px 5px rgb(0 0 0 / 9%);
        background: #ffffb3;
      border-style: outset;  
      border-width: 3px;
      opacity: 1; */ 
        }
h2 {
      font-size: 25px;
      color: black;
      text-align: center;
}
html, body {
      display: flex;
      justify-content: safe left;
      height: 100%;
      margin: 0.1;
      }
form{
          margin: -8px;
          align: center;
          margin: 0.1;
          padding-left: ;
        }
        
/*input[type=text], [type=number]  {
      width: 180px;
      height: 35px;
      margin: 10px 0 0 -110px;
      padding-left: 5px;
      border-radius: 0 5px 5px 0;
      border: solid 1px #cbc9c9;
      box-shadow: 1px 2px 5px rgb(0 0 0 / 9%);
      background: #ffffe6;
      }
input [type=textarea], [type=radio] {
      margin:/* 5px 0 0 -90px*/ auto;
}
#CCC {
      margin: 10px 0 0 -110px;

}
#stock {/*margin: -25px 0 0 270px;*/

}

 h1{
          font-family: Arial Black;
        }
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 10px 5px 15px -95px;/*top,right,bottom,left*/
  align-content: center;
}

#customers td, {
  border: 1px solid #ddd;
  padding: 2px;
  width: 100%;

}
#customers th { 
      border: 1px solid #ddd;
  padding: 2px;
  width: 100%;
}

#customers tr/*:nth-child(even)*/{background-color: #f2f2f2;
                                    width: 100%;}

#customers tr:hover {background-color: #f2f2f2;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  width: 100%;
}
#fill {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin: 10px 5px 15px -95px;/*top,right,bottom,left*/
        align-content: center;
        border-color: none;
}
#fill td, #fill th {
  border: 5px solid #e2ca95;
  padding: 8px;
  border-radius: 15px;
  width: 50%;
}

#fill tr/*:nth-child(even)*/{background-color: #f2f2f2;
                              width: 100%;
                        }

#fill tr:hover {background-color: #f2f2f2;}

#fill th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: black;
  
}
li {
      text-decoration: none;
}
#fill td:nth-child(n+2) { background-color: #ffffe6; 
                              width: 100%;}
#fill th:nth-child(n+2) { background-color: #ffffe6;
                              width: 100%; }
#fill td:nth-child(1) { 
      background-color: #ffffb3;
                        width: 45%; }
#fill th:nth-child(1) { 
      background-color: #ffffb3;
      width: 5%;
                         }
input, [type=number],[type=text], [type=number] {
      
  border: 2px solid #ffffe6;
  border-radius: 5px;
  border-color:#ffffe6 /**/ ;
  
}
#alt input{
      width: 500px;
      
}

.main-nav {
      display: flex;
      list-style: none;
      font-size: 0.7em;
      margin: 0;
}
.zone {
      /*color: #FFF;
      font-size: 2px;
      border-radius: 4px;
      border: 1px solid #bbb;
      transition: all 0.3s linear;
*/}
li {
      padding: 20px;
}
.symptoms {
      padding: 3px;
      text-align: left;
}
input.my-input {
                  text-align: right;
}
.bottom{
      margin: 0;
}