label{
      width: 270px;
      display: inline-block;
    }
input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
p{
      width: 180px;
        height: 35px;
        margin: 13px 0 0 -50px;
        padding-left: 1px;
        border-radius: 0 5px 5px 0;
        border: solid 1px #cbc9c9;
        box-shadow: 1px 2px 5px rgb(0 0 0 / 9%);
        background: #ffffe6;
                
        }
html, body {
      display: flex;
      justify-content: safe left;
      height: 100%;
      margin: 0.1;
      }
form{
          margin: -8px;
          align: center;
          margin: 0.1;
        }
        
input[type=text], [type=number]  {
      width: 180px;
      height: 35px;
      margin: 13px 0 0 -50px;
      padding-left: 5px;
      border-radius: 0 5px 5px 0;
      border: solid 1px #cbc9c9;
      box-shadow: 1px 2px 5px rgb(0 0 0 / 9%);
      background: #ffffe6;
      }
