#position {
		text-align: safe-left;
		padding-left: 10px;
}
#last 	{
			padding-left: 20px;
			text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.col{
	background-color: #ffffe6;
	border:5px solid #e2ca95 ; 
	border-radius: 90px;
	display: inline-table;

}
#first {
	
	background: #ffffb3;
	display: inline-table;
}
select#whatever.selectmenu {
	height: 25px;
	color: #191a1e;
	border: none;
	font-size: 16px;
	font-weight: 400;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	padding: 0px 10px;
	text-align: left;
	display: inline-table;


}
input, [type=number],[type=text], [type=number] {
      
  /*border: 2px solid #ffffe6;
  border-radius: 5px;
  border-color:#ffffe6  ;
  background-color: #fff;*/
	height: 25px;
	color: #191a1e;
	border: none;
	font-size: 16px;
	font-weight: 400;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	padding: 0px 0px;
	text-align: left;
	display: inline-table;

}
.required:after {
    content:" *";
    color: red;
  }
.booking-form .form-control {
	height: 35px;
	border: none;
	font-size: 16px;
	font-weight: 400;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	
}
#form-btn	{
	align-self: center;
	align-items: center;
	align-content: center;
	alignment-baseline:center ;
	text-align:center ;
	vertical-align: center;
	text-align-last: center;
}

.col-md-3 .submit-btn {
	color: #fff;
	background-color: green;
	font-weight: 400;
	height: 50px;
	font-size: 14px;
	border: none;
	width: 100%;
	border-radius: 40px;
	text-transform: uppercase;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	display: inline;
	
}

.green{
    background: #e2ca95; /* Old browsers */
    background: -moz-linear-gradient(top, #e2ca95 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e2ca95 0%,#e2ca95 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e2ca95 0%,#e2ca95 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e2ca95 0%,#e2ca95 100%); /* IE10+ */
    background: linear-gradient(top, #e2ca95 0%,#a5c956 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
   
}
li .stockingspecs {
	display: inline-table;
	display: inline;
	display: inherit;
	display: initial;
	display: inline-block;
	display: inherit;
	display: inline-flex;
	display: inline-grid;
	display: run-in;
	font-size: 60px;
}
.last {
	align-content: center;
	padding-left: 32px;
}
#more {
	margin: 0px 0px 0px 0px;
}
#more td, #more th {
  padding: 0px;
  
  width: 0px;
  
}
#more th, #more td{
  padding: 2px;
  
  width: 80px;
  
}
.form-control {
	padding: 0px;
}
*, ::after, ::before {
    box-sizing: content-box;
}
